@import '../../../../styles-variables';

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.intro {
  height: calc(100vh - 64px);
  color: #f2f2f2;
  .container {
    height: inherit;
    .row {
      padding-top: 80px;
      .introduction {
        max-width: 700px;
        margin: 50px auto;
        letter-spacing: 0.01px;
        overflow-wrap: break-word;
        z-index: 1;
        overflow: hidden;
        p {
          white-space: pre-line;
        }
      }
    }
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../../assets/main.webp') no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: top;
    opacity: 0.85;
    content: '';
    z-index: 0;
  }
}

.skills {
  background-color: #333333;
  .container {
    padding-top: 64px;
    min-height: calc(100vh - 212px);
    .project-button-container {
      padding-top: 12px;
    }
  }
}
