@import '../../../../../../../node_modules/@angular/material/theming';

@mixin bmc-about-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  bmc-about {

  }
}
