<div class="background">
  <div class="gradient">
    <div class="container">
        <div class="row">
          <div class="col-3 col-sm-6 col-md-6 col-lg-8"></div>
          <div class="col-9 col-sm-6 col-md-6 col-lg-4">
              <h1>{{ 'bmc.about.greeting' | translate }}</h1>

              <div class="get-started" [ngClass]="routeAnimationsElements">
                <h2>{{ 'bmc.about.who-am-i' | translate }}</h2>
                <p rtl>{{ 'bmc.about.who-am-i.description' | translate }}</p>
              </div>  
          </div>

      </div>
    </div>
  </div>
</div>
