$bmc-primary: mat-palette($mat-grey, 100, 800, 200);
$bmc-accent: mat-palette($mat-blue, 700);
$bmc-warn: mat-palette($mat-red, 800);

$bmc-theme: mat-light-theme($bmc-primary, $bmc-accent, $bmc-warn);
