$bmc-primary: mat-palette($mat-grey, 600, 100, 800);
$bmc-accent: mat-palette($mat-blue, 700);
$bmc-warn: mat-palette($mat-red, 600);

$bmc-theme: mat-light-theme($bmc-primary, $bmc-accent, $bmc-warn);
